name: Node.js CI

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: textbook/take-action@nodejs
        with:
          node-version: 24
      - run: npm run lint
      - run: npm run test:coverage
      - uses: actions/upload-artifact@v6
        with:
          if-no-files-found: error
          name: coverage-report
          path: reports
      - run: npm run test:mutation -- --reporters=clear-text,dots
      - run: npm run build
      - run: npm pack
      - run: mv textbook-build-info-*.tgz package.tgz
      - uses: actions/upload-artifact@v6
        with:
          if-no-files-found: error
          name: package
          path: package.tgz
  quality:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: textbook/take-action@nodejs
        with:
          checkout: false
          node-version: 24
      - uses: actions/download-artifact@v7
        with:
          name: coverage-report
          path: reports
      - uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  e2e:
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
        node: [ 18.3, 18, 20, 22, 24 ]
        include:
          - node: 22
            platform: windows-2022
    needs: [ test ]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/download-artifact@v7
        with:
          name: package
      - run: npm init --yes
      - run: npm install package.tgz
      - run: npx buildinfo -o out.txt
      - run: npx buildinfo --output out.txt
      - run: npx buildinfo > out.txt
      - run: type out.txt
        if: contains(matrix.platform, 'windows')
      - run: cat out.txt
        if: contains(matrix.platform, 'ubuntu')
  deploy-github:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ e2e ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: package
      - run: |
          gh release create \
          '${{ github.ref_name }}' \
          --title '${{ github.ref_name }}' \
          "package.tgz#NPM package"
        env:
          GH_TOKEN: ${{ github.token }}
  deploy-npm:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    environment:
      name: npm
      url: https://www.npmjs.com/package/@textbook/build-info
    needs: [ e2e ]
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/download-artifact@v7
        with:
          name: package
      - run: npm install --global npm@latest
      - run: npm publish --provenance package.tgz
